.heider.opened {
  transform: rotate(180deg) translateY(-5px);
}

.heider.collapsed {
  transform: rotate(0deg) translateY(-5px);
}

.stage.opened {
  margin-top: 1rem;
  margin-bottom: -1rem;
  max-height: calc(372px);
  opacity: 1;
}

.stage.collapsed {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
}
